{% extends 'main.html' %}
{% block content %}

<div class ="container">
      
           

    <div class="container-sm">

        <h1>Welcome to CRIT NIGHT!</h1>
        
        <p>I first became acquainted with the tradition of Critique Night (CRIT NIGHT) through Plug Projects, one of Kansas City's alternative Arts Exhibition spaces.</p>
        
        <h2>What is CRIT NIGHT?</h2>
        
        <p>Moderated by a rotating panel of local artists and art professionals, 3 artists are selected to participate at each CRIT NIGHT. Open to the public, the goal of CRIT NIGHT is to encourage open discussion of artists’ work and to activate both the artist and audience engaged dialogue that will provoke artistic growth and the public’s engagement.</p>
        
        <p> Plug is in its 11th year now. The Crit Night app is designed to track responses to the art during the informal sessions. It incorporates a rubric to guide the panel in topics or themes to prioritize the conversation.</p>
        
    </div>

    <h3>Works for Discussion</h3>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for artwork in artworks|slice:"15" %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ artwork.featured_image.url }}" class="card-img-top img-thumbnail"  alt="detail of artwork">
                <div class="card-body">
                    <h6 class="card-title">{{artwork.title}}</h6>
                    <p class="card-text">
                        By <a href="{% url 'user-profile' artwork.owner.id %}">{{artwork.owner.name}}</a>
                    </p>
                    <p><small>added {{artwork.created}}</small></p>
                    <p>{{artwork.topic}}</p>
                    
                    <!--- voting per artwork/on each card -->

                    <p class="card-text">Average Stars {{artwork.star_ratio}}%</p>
                    <p class="card-text">Average Score {{artwork.vote_ratio}}%</p>
                    <p class="card-text">{{artwork.star_total}} Vote{{artwork.star_total|pluralize:"s"}}</p>
                    <p class="card-text">{{artwork.vote_total}} Vote{{artwork.vote_total|pluralize:"s"}}</p>
                   
                    {% for review in artwork.review_set.all %}
                    
                        <p class="stars">{{review.value}}</p>
                    
                    {% endfor %}
                    <a href="{% url 'artwork' artwork.id %}" class="btn btn-secondary btn-sm">Detail View</a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
<br />
<hr>
<h2>Instant Feedback</h2>
<h4>These scores provide an "at a glance" response to the work.</h4>
    <div class="container text-center">
        <div class="container"> 
            <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th scope="col">Artist</th>
                <th scope="col">Title</th>
                <th scope="col">Average Score</th>
                <th scope="col">Votes Received</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for artwork in artworks %}
            <tr>
                <td>{{artwork.owner.name}}</td>
                <td>{{artwork.title}}</td>
                <td>{{artwork.vote_ratio}}%</td>
                <td>{{artwork.vote_total}}</td>
                <td><a href="{% url 'artwork' artwork.id %}">View</td>
            </tr>
            {% endfor %}
            </tbody>
        </table> 
        </div>
    </div>
</div>
</div>
{% endblock content %}