{% extends 'main.html' %}

{% block content %}



{% if page == 'register' %}

<h1>Register User</h1>

<p>Don't have an account? <a href="{% url 'register' %}">Create a new Account</a></p>

<p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="form__field">
        <label for="formInput#text">{{field.label}}</label>
        {{field}}

        {% for error in field.errors %}
        <p style="color: red;">{{error}}</p>
        {% endfor %}     
    </div>
    {% endfor %}    
</form>

<p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p>

{% else %}

    <form action="{% url 'login' %}"  method="POST">
        {% csrf_token %} 
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Enter password" />
        <input type="submit" value="Login" />
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>

{% endif %}

{% endblock content %} 
